.container{
    width: 80%;
    margin: 20px 40px;
}

.searchBox{
    margin-bottom: 25px;
}
.input{
    outline: none;
    box-sizing: border-box;
    border: 1px solid #ccc;
    width:500px;
    height: 42px;    
    padding: 0 10px;
}

.searchButton{
    background: #2d93f0;
    padding: 0.9em;
    width: 100px;
    color: #fff;
    cursor: pointer;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 5px;
    font-size: 13px;
    margin-left: 10px;
}
