.container{
    width: 90%;
    margin: 20px 0;
}

.searchBox{
    margin-bottom: 25px;
}

.selectBox{
    outline: none;
    width: 20%;
    height: 42px;
    box-sizing: border-box;
    border: 1px solid #aaa;
    padding: 0 10px;
}

.input{
    outline: none;
    box-sizing: border-box;
    border: 1px solid #ccc;
    width:45%;
    height: 42px;    
    padding: 0 10px;
    margin-left: 8px;
}

.searchButton{
    background: #2d93f0;
    padding: 0.7em;
    width: 19%;
    color: #fff;
    cursor: pointer;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 5px;
    font-size: 14px;
    margin-left: 8px;
}
