.container {
  width: 95%;
}

.selectBox {
  outline: none;
  width: 100px;
  height: 42px;
  box-sizing: border-box;
  border: 1px solid #aaa;
  padding: 0 10px;
}

.input {
  outline: none;
  box-sizing: border-box;
  border: 1px solid #ccc;
  width: 470px;
  height: 42px;
  padding: 0 10px;
  margin-left: 8px;
}

.searchButton {
  background: #2d93f0;
  padding: 0.7em;
  width: 120px;
  color: #fff;
  cursor: pointer;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 5px;
  font-size: 14px;
  margin-left: 8px;
}

.addButtonWrap {
  width: 100%;
  height: 40px;
  margin: 15px 0;
}
.addButton {
  border-radius: 50%;
  color: #fff;
  font-size: 19px;
  background: #2d93f0;
  height: 40px;
  width: 40px;
  float: right;
  cursor: pointer;
}

.modal {
  position: absolute;
  width: 500px;
  height: 400px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #f1f1f1;
  box-sizing: border-box;
  padding: 35px;
  text-align: left;
  outline: none;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
}

.label {
  width: 100%;
  padding-left: 3px;
  color: #666;
  font-size: 13px;
}

.addInput {
  width: 100%;
  margin-bottom: 5px;
  padding-left: 5px;
  box-sizing: border-box;
  outline: none;
}

.deptSelect {
  width: 100%;
  margin-bottom: 5px;
}

.modalSubmitButton {
  margin-top: 20px;
  cursor: pointer;
  background: #2d93f0;
  width: 100px;
  padding: 0.6em;
  border: none;
  border-radius: 5px;
  color: white;
  outline: none;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.modalCloseButton {
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
}
