HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

*.eslintcache
*/node_modules/*
node_modules/.bin/loose-envify
node_modules/.bin/loose-envify.ps1
node_modules/.bin/loose-envify.cmd
*.md
*.js
*.json
node_modules/react-modal/LICENSE
node_modules/react-is/LICENSE
*.yml
*.json
*.json
node_modules/loose-envify/LICENSE
node_modules/exenv/LICENSE
node_modules/js-tokens/LICENSE
node_modules/object-assign/license
node_modules/prop-types/LICENSE
package-lock.json
