spring:
  datasource:
    url: jdbc:h2:tcp://localhost/~/personnel_mn
    username: sa
    password:
    driver-class-name: org.h2.Driver

  jpa:
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
 #       show_sql: true
        fromat_sql: true

logging:
  level:
    org.hibernate.SQL: debug
    org.hibernate.type : trace