.sidebar{
    background: #32373b;
    height: 100vh;
    width: 60%;
    box-sizing: border-box;
    padding: 50px 30px;
}

.ul{
    margin-bottom: 50px;
}

.p{
    font-size: 19px;
    margin-bottom: 5px;
    color: #c0c6c3;
}

.list{
    font-size: 18px;
    line-height: 1.8em;
    font-weight: 400;
}

a{color: #c0c6c3;}

.activeStyle{
    color: #fff;
}