.container {
  width: 95%;
}

.selectBox {
  outline: none;
  width: 100px;
  height: 42px;
  box-sizing: border-box;
  border: 1px solid #aaa;
  padding: 0 10px;
}

.input {
  outline: none;
  box-sizing: border-box;
  border: 1px solid #ccc;
  width: 470px;
  height: 42px;
  padding: 0 10px;
  margin-left: 8px;
  margin-bottom: 70px;
}

.searchButton {
  background: #2d93f0;
  padding: 0.7em;
  width: 120px;
  color: #fff;
  cursor: pointer;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 5px;
  font-size: 14px;
  margin-left: 8px;
}

.addButtonWrap {
  width: 100%;
  height: 40px;
  margin: 15px 0;
}
.addButton {
  border-radius: 50%;
  color: #fff;
  font-size: 19px;
  background: #2d93f0;
  height: 40px;
  width: 40px;
  float: right;
  cursor: pointer;
}

.label {
  width: 100%;
  padding-left: 3px;
  color: #666;
  font-size: 13px;
}

.addInput {
  width: 90%;
  height: 27px;
  margin: 5px;
  padding-left: 5px;
  box-sizing: border-box;
  outline: none;
}

.modalSelect {
  width: 90%;
  padding-left: 5px;
  margin: 5px;
}

.submitButtonContainer {
  text-align: right;
}
.modalSubmitButton {
  cursor: pointer;
  background-color: #2d93f0;
  color: white;
  border-radius: 3px;
  padding: 0.3em 1em;
  margin-top: 10px;
}

.pagination {
  text-align: center;
  margin-top: 5em;
  margin-bottom: 3em;
  display: flex;
  justify-content: center;
}
